.box {
  width: 100%;
  height: 100%;
  border: 1px solid cornflowerblue;
  background-color: rgb(210, 222, 245);
}
.header{
  margin-top: 24px;
  margin-bottom: 23px;
}
.header__tel-inf {
  text-decoration: none;
  padding-right: 5px;
  @include text-preheader;
  font-weight: bold;
}
.header__tel{
  min-width: 243px;
  text-decoration: none;
  @include text-preheader;
  &:hover {
    font-weight: bold;
    text-shadow: 1px 1px;
    color:$text-color;
  }
}
.header-card__link {
  padding-left: 21px;
@include text-preheader;
&:hover {
  font-weight: bold;
  text-shadow: 1px 1px ;
  color:$text-color;
  }
}
.header-card__icon {
  padding-left: 89px;
}
.header-card {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.header-form {
  display: flex;
  max-width: 350px;
}
.header-form__input {
  background-color: $vaf-color2;
  border-radius: 6px 0 0 6px;
  padding: 12px 173px 13px 23px;
  &:placeholder {
    font-family: "Mulish";
    font-size: 15px;
    line-height: 15px;
    color: $text-color;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgb(66, 136, 216);
  }
  &:hover {
    box-shadow: 0 0 0 1px rgb(66, 136, 216);
  }
}
.header-form__btn {
  border-radius: 0 6px 6px 0;
  background-color: $secondary-color;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ac1f46;
  }
  &:hover {
    background-color: #ac1f46;
  }
}
.header-form__icon {
  font-family: "Icomoon";
  padding: 26px 13px 26px 15px;
  color: $var-color;
}


