.activ-title{
  margin-top: 60px;
  margin-bottom: 57px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $title-color;
}
.activ-card__block {
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: hidden;
  }
.activ-card__image-item {
  position: relative;
  object-fit: cover;
  object-position:center top;
}
.activ-card__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom:0;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 35%, #0A223D 100%);
  padding-left: 26px;
  padding-bottom: 24px;
}
.activ-card__image {
  display: block;
  
}
.activ-card__title {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  color: $var-color;
}
.activ-card__btn {
  padding: 7px 22px 7px 21px;
  background: $secondary-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $var-color;
  &:hover {
    background: #ac1f46;;
  }
}
.activ-list {
  padding: 0;
}




