
.pack-title {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color:$text-color;
  @include media-breakpoint-up(xl) { 
    text-align: left;
   }
}
.mb-29 {
  margin-bottom: 15px;
    @include media-breakpoint-up(xl) { 
      margin-bottom: 29px;
    }
}
.pack-col {
  @include pack-block; 
    margin-bottom: 0px;
    text-align: center;
    @include media-breakpoint-up(xl) { 
      text-align: start;
    }
}
.pack-list {
    padding-left: 48px;
    margin-bottom: 0;
  }
.pack-item {
  position: relative;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 15px;
  color: $text-color;
  &:before {
    content: "\e907";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -33px;
    font-family: "icomoon";
    font-size: 15px;
    background-color: #333;
    border-radius: 50%;
    color: $var-color;
  }
}
.wrap-row {
  display: flex;
  flex-direction: column;
    @include media-breakpoint-up(md) { 
      display: flex;
      flex-direction: row;
    }
    @include media-breakpoint-up(lg) { 
      display: flex;
      flex-direction: row;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: row;
      }
  }
  .ml-15 {
    margin-left: -15px;
  }
  .pack-inf {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: #333333;
      @include media-breakpoint-up(xl) {
        padding-top: 48px;
  }
}
.pack-list__cal {
  position: relative;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 15px;
  color: $text-color;
  &:before {
    content: "\e90e";
    position: absolute;
    left: -33px;
    font-family: "icomoon";
    font-size: 16px;
  }
}
.pack-name {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 13px;
  line-height: 16px;
  color:$secondary-color;
        @include media-breakpoint-up(lg) { 
      margin-top: 38px;
      margin-bottom: 21px;
    }
    @include media-breakpoint-up(xl) { 
      margin-top: 38px;
      margin-bottom: 21px;
    }
}
hr {
  margin-top: 0;
  margin-bottom: -5px;
  height: 20px; 
  border:0;
  border-bottom: 1px dashed rgb(175, 171, 171);
}
.mb-59 {
  margin-bottom: 59px;
}
.mt-33 {
  margin-top: 33px;
}
.back {
  background: #F5FAFE;
}