
.subscribe-block { 
  margin-top: 99px;
  margin-bottom: 50px;
  background-image: url("images/back_sub.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}
.subscribe-block__text {
margin-top: 25px;
margin-bottom: 0;
font-weight: 300;
font-size: 18px;
line-height: 20px;
color:$var-color;
  @include media-breakpoint-up(md) {
    margin-top: 40px;
    }
  @include media-breakpoint-up(lg) {
    margin-top: 60px;
    }
  @include media-breakpoint-up(xl) {
    font-size: 24px;
    margin-top: 98px;
    margin-bottom: 20px;
    line-height: 30px;
    }
}
.subscribe-block__uptext {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color:$var-color;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
}
.subscribe-block__title {
  display: none;
}
.subscribe-form {
  margin-top: 25px;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
  }
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
  }
    @include media-breakpoint-up(xl) {
      margin-top: 108px;
      margin-bottom: 97px;
      line-height: 45px;
      font-size: 36px;
  }
}
.subscribe-form__btn {
  font-size: 12px;
  line-height: 15px;
  color:$var-color;
  background:$secondary-color;
  border-radius: 0px 4px 4px 0px;
  padding: 20px 18px;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ac1f46;
  }
  &:hover {
    background-color: #ac1f46;
  }
}
.subscribe-form__inp {
  background: $var-color;
  border-radius: 4px 0 0 4px;
  padding-top: 19px;
  padding-top: 12px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 12px;
  padding-left: 33px;
    @include media-breakpoint-up (xl){
      padding-right: 96px;
    }
    &:placeholder {
      font-family: inherit;
      font-size: 14px;
      line-height: 16px;
      color: $placehol-col;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px rgb(66, 136, 216);
    }
    &:hover {
      box-shadow: 0 0 0 1px rgb(66, 136, 216);
    }
}
